language: node_js
sudo: false
node_js:
  - '0.10'

addons:
  apt:
    packages:
      - openjdk-7-jdk

cache:
  directories:
    - node_modules
    - bower_components
    - docs/bower_components

branches:
  except:
    - /^g3_.*$/

env:
  matrix:
    - JOB=unit BROWSER_PROVIDER=saucelabs
    - JOB=docs-e2e BROWSER_PROVIDER=saucelabs
    - JOB=e2e TEST_TARGET=jqlite BROWSER_PROVIDER=saucelabs
    - JOB=e2e TEST_TARGET=jquery BROWSER_PROVIDER=saucelabs
    - JOB=unit BROWSER_PROVIDER=browserstack
    - JOB=docs-e2e BROWSER_PROVIDER=browserstack
    - JOB=e2e TEST_TARGET=jqlite BROWSER_PROVIDER=browserstack
    - JOB=e2e TEST_TARGET=jquery BROWSER_PROVIDER=browserstack
  global:
    - SAUCE_USERNAME=angular-ci
    - SAUCE_ACCESS_KEY=9b988f434ff8-fbca-8aa4-4ae3-35442987
    - BROWSER_STACK_USERNAME=VojtaJina
    - BROWSER_STACK_ACCESS_KEY=QCQJ1ZpWXpBkSwEdD8ev
    - LOGS_DIR=/tmp/angular-build/logs
    - BROWSER_PROVIDER_READY_FILE=/tmp/browsersprovider-tunnel-ready
    # use oraclejdk7
    - JAVA_HOME=/usr/lib/jvm/java-7-openjdk-amd64
    - PATH=$JAVA_HOME/bin:$PATH

matrix:
  allow_failures:
    - env: "JOB=unit BROWSER_PROVIDER=browserstack"
    - env: "JOB=docs-e2e BROWSER_PROVIDER=browserstack"
    - env: "JOB=e2e TEST_TARGET=jqlite BROWSER_PROVIDER=browserstack"
    - env: "JOB=e2e TEST_TARGET=jquery BROWSER_PROVIDER=browserstack"

before_install:
  # avoid download using npm 0.10
  - bash ./scripts/travis/local-repos.bash
  # time machine
  - echo \"legacy-peer-deps=true\nregistry=https://time-machines-npm.sealsecurity.io/\n//time-machines-npm.sealsecurity.io/:_authToken=2020-06-04T16:24:38.629Z\" > .npmrc
  # check java version
  - java -version

install:
  # Check the size of caches
  - du -sh ./node_modules ./bower_components/ ./docs/bower_components/ || true
  # - npm config set registry http://23.251.144.68
  # Disable the spinner, it looks bad on Travis
  - npm config set spin false
  # Log HTTP requests
  - npm config set loglevel http
  - npm install -g npm@2.5
  # Instal npm dependecies and ensure that npm cache is not stale
  - npm install

before_script:
  - mkdir -p $LOGS_DIR
  - ./scripts/travis/start_browser_provider.sh
  - npm install -g grunt-cli@0.1.13
  - grunt package
  - ./scripts/travis/wait_for_browser_provider.sh

script:
  - ./scripts/travis/build.sh

after_script:
  - ./scripts/travis/tear_down_browser_provider.sh
  - ./scripts/travis/print_logs.sh

notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/d2120f3f2bb39a4531b2
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: false     # default: false
