language: node_js
sudo: false
node_js:
  - '0.10'

cache:
  directories:
    - node_modules
    - bower_components
    - docs/bower_components

branches:
  except:
    - /^g3_.*$/

env:
  matrix:
    - JOB=unit BROWSER_PROVIDER=saucelabs
    - JOB=docs-e2e BROWSER_PROVIDER=saucelabs
    - JOB=e2e TEST_TARGET=jqlite BROWSER_PROVIDER=saucelabs
    - JOB=e2e TEST_TARGET=jquery BROWSER_PROVIDER=saucelabs
    - JOB=unit BROWSER_PROVIDER=browserstack
    - JOB=docs-e2e BROWSER_PROVIDER=browserstack
    - JOB=e2e TEST_TARGET=jqlite BROWSER_PROVIDER=browserstack
    - JOB=e2e TEST_TARGET=jquery BROWSER_PROVIDER=browserstack
  global:
    - SAUCE_USERNAME=angular-ci
    - SAUCE_ACCESS_KEY=9b988f434ff8-fbca-8aa4-4ae3-35442987
    - BROWSER_STACK_USERNAME=VojtaJina
    - BROWSER_STACK_ACCESS_KEY=QCQJ1ZpWXpBkSwEdD8ev
    - LOGS_DIR=/tmp/angular-build/logs
    - BROWSER_PROVIDER_READY_FILE=/tmp/browsersprovider-tunnel-ready

matrix:
  allow_failures:
    - env: "JOB=unit BROWSER_PROVIDER=browserstack"
    - env: "JOB=docs-e2e BROWSER_PROVIDER=browserstack"
    - env: "JOB=e2e TEST_TARGET=jqlite BROWSER_PROVIDER=browserstack"
    - env: "JOB=e2e TEST_TARGET=jquery BROWSER_PROVIDER=browserstack"

script:
  - |
    docker run --rm \
      -v $(pwd):/app \
      -w /app \
      -e JOB=$JOB \
      -e BROWSER_PROVIDER=$BROWSER_PROVIDER \
      -e TEST_TARGET=$TEST_TARGET \
      -e SAUCE_USERNAME=$SAUCE_USERNAME \
      -e SAUCE_ACCESS_KEY=$SAUCE_ACCESS_KEY \
      -e BROWSER_STACK_USERNAME=$BROWSER_STACK_USERNAME \
      -e BROWSER_STACK_ACCESS_KEY=$BROWSER_STACK_ACCESS_KEY \
      -e LOGS_DIR=$LOGS_DIR \
      -e BROWSER_PROVIDER_READY_FILE=$BROWSER_PROVIDER_READY_FILE \
      node:0.10 \
      bash ./scripts/travis/run-all.sh